<!-- <h1 [ngClass] = "{'text-red': isTrue }">hello hani</h1>
<button (click) = "Clicked()" [disabled] = "isTrue">Check</button> -->
<!-- <ngx-datatable class = "material"></ngx-datatable> -->

 
   <!-- <h2>result : </h2>
   <p>
       {{name.value}}
   </p> -->
   <!-- <form [formGroup] = "userDetail" (ngSubmit) = "onSubmit()">
    name : <input type = "text" formControlName = "name" /><br>
    <div formGroupName = "Address" >
    <label>Address : </label><br>
    city:<input type = "text" formControlName = "city" /><br> 
    state :<input type = "text" formControlName = "state" /><br> 
    contry : <input type = "text" formControlName = "contry" /><br> 
    </div> 
    <button (click) = "updateDetails()">Update</button> 
    <button type = "submit">Submit</button> 
   </form> -->
   <a routerLink ="pie-chart">pie-chart</a>&nbsp;&nbsp;
<a routerLink ="google-chart">google-chart</a>&nbsp;&nbsp;
<a routerLink = "google-map">google-map</a>
<router-outlet></router-outlet>